@tailwind base;
@tailwind components;
@tailwind utilities;

.my-shadow {
    box-shadow: 0px 4px 20px 0px rgba(255, 148, 28, 0.25);
}
.parallax {
    background-image: url('../../public/images/chess.webp');
    background-size: cover;
    background-attachment: fixed;
}